<h1>어떤 작품을 보셨나요?</h1>
<p>제목과 감상평을 작성해 주세요.</p>

<form action="/home/create" method="post">
  TITLE : <input type="text" name="title"><br>
  CONTENTS : <input type="text" name="content"><br>
  <input type="submit" value="SUBMIT">
</form>