<!-- 개별 글을 확인할 수 있는 공간. -->

<h1> 이건 <%=@post.id%>번 게시물이야. </h1>

제목 : <%=@post.title%> <br>
내용 : <%=@post.content%> <br>  <!-- 컨트롤러에서 각각의 특정 글(개체)를 @post에 담았기 때문에 이와 같은 명령어 사용 가능 -->


<!-- '해당 글'에 대한 access가 먼저..!  '해당 글' 전체 선택을 해야하는데 id 밖에 모른다,,^_ㅠ 
그런데 이 key를 가지고 역으로 params[:post_id] 찾아갈 수 있게끔 index-->


